/* 
  textColor: {
    fontSize: 20,
    color: "#FFFFFF",
    textTransform: "capitalize",
  },

  textColorDone: {
    fontSize: 20,
    color: "#404040",
    textTransform: "capitalize",
    textDecorationLine: "line-through",
  }, */

